.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;       
  flex-direction: row;
  gap: 32px;   
  align-items: flex-start;
  box-sizing: border-box;
}

.mainSectionDetails {
  background-color: #F2F4F7;
}

.mainSectionDetails .container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  padding: 84px 120px 176px 120px;
}

.carSection {
  display: flex;
  flex-direction: column; 
  max-width: 640px;
  width: 100%;
  row-gap: 32px;
  box-sizing: border-box;
}

.title {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 1.33;
color: var(--main);
  margin-bottom: 16px;
  text-align: start;
}

.image {
  border-radius: 8px;
  object-fit: cover;
  max-width: 640px;
  width: 100%;
  height: 512px; 
}


.bookingContainer {
  display: flex;
  flex-direction: column; 
  background: #f9fafb;
  border-radius: 8px;
  padding: 32px;
  max-width: 640px;
  width: 100%;
}

.bookingInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 24px;
}

.subtitle {
  font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
min-height: 24px;
line-height: 1.20;
color: var(--main);
margin-top: 0;
margin-bottom: 8px;
}

.helperText {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: var(--gray);
min-height: 20px;
}


.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input, .textarea {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  min-height: 48px;
}

.textarea {
  min-height: 88px;
  resize: vertical;
}

.button {
  border-radius: 12px;
padding: 12px 99px;
width: 576px;
height: 44px;
background: var(--light-blue);
  cursor: pointer;
  font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.25;
color: var(--white);
margin-top: 24px;
}

.button:hover {
  background-color: #1e40af;
}

.location {
  font-size: 18px;
  color: var(--main);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.price {
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 1.33;
  color: var(--light-blue);
  text-align: start;
  margin-bottom: 32px;
}

.description {
  font-size: 16px;
  color: #555;
  text-align: start;
}


.subtitleListOne {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}

.listOne {
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px !important;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.subtitleListTwo {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}

.listTwo {
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px !important;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.subtitleListThree {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}

.listThree {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.listOne li {
  padding-left: 0px;
  position: relative;
}

.listTwo li {
  padding-left: 0px;
  position: relative;
}

.listThree li {
  padding-left: 0px;
  position: relative;
}



.details {
  background: #f9fafb;         
  border-radius: 12px;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
  max-width: 528px;          
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.detailsHeader {
  margin-bottom: 68px; 
}

.detailsBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}



.details ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.details li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #374151;
}
