
.pageContainer {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}


.hero {
  position: relative;
  width: 100%;
  height: 700px; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.overlay {
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 0.2; 
  z-index: 1;
  pointer-events: none;
}

.heroContent {
  position: absolute;   
  bottom: 60px;         
  left: 50%;            
  transform: translateX(-50%); 
  z-index: 2;           
  text-align: center;
  color: #ffffff;
  width: 783px;         
  height: 204px;        
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContent {
  width: 783px;
height: 120px;
display: inline-block;
margin-bottom: 40px;
}


.title {
  font-family: var(--font-family);
font-weight: 700;
font-size: 60px;
line-height: 1.20;
text-align: center;
color: var(--white);
width: 100%;
white-space: nowrap;
margin-bottom: 16px;
}

.subtitle {
  display: inline-block;
  font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 1.33;
text-align: center;
color: var(--white);
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
padding: 12px 99px;
width: 276px;
height: 44px;
background: var(--light-blue);
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.25;
color: var(--white);
text-align: center;
white-space: nowrap;
margin-top: auto
}

.button:hover {
  background-color: #0059c1;
}