.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 276px;          
  max-width: 276px;      
  box-sizing: border-box; 
  justify-content: space-between;
  align-items: center;
}

.cardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px 0;
}


.title {
  font-size: 18px;
  font-weight: 600;
  margin: 4px 0;
  color: #222;
}

.price {
  font-size: 16px;
  font-weight: 500; 
}

.model {
  color: #0070f3; 
  font-weight: 600;
}

.locationDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  font-size: 14px;
  flex-wrap: wrap;
}

.location {
  color: #555;
}

.details {
  color: #777;
}

.text {
  font-size: 0.9rem;
  color: #555;
}

.buttonLink {
  display: flex;
  align-items: center;    /* вертикальне центрування */
  justify-content: center; /* горизонтальне центрування */
  width: 244px;
  height: 44px;
  background-color: var(--light-blue); 
  color: var(--white);              
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  border-radius: 12px;
  padding: 12px 99px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap; /* запобігає переносу тексту */
}

.buttonLink:hover {
  background-color: #005bb5; 
}