.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 276px;          
  max-width: 276px;      
  box-sizing: border-box; 
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 244px;     /* ширина з макету */
  height: 364px;    /* висота з макету */          /* дозволяє контенту займати всю висоту картки */
  box-sizing: border-box;
  gap: 16px;        /* відстань між елементами */
}

.image {
  width: 244px;    
  height: 268px;  
  border-radius: 14px; 
  display: block;
}

.cardInfo {
  display: inline-block;
}

.titleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 125%;
color: var(--main);
  white-space: nowrap; 
  letter-spacing: -1.7px;
}

.price {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: var(--main);
letter-spacing: -1,5px;
}

.model {
  color: var(--light-blue);
  font-weight: 500;
  letter-spacing: -2px;
}

.locationDetails {
  display: inline-block;
  margin-top: 16px;
  border-radius: 8px;
  width: 100%;
background: var(--bg);
}

.location {
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.33;
color: var(--main);
}

.details {
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 1.33;
color: var(--main);
}


.buttonLink {
  display: flex;
  align-items: center;    /* вертикальне центрування */
  justify-content: center; /* горизонтальне центрування */
  width: 244px;
  height: 44px;
  background-color: var(--light-blue); 
  color: var(--white);              
  text-decoration: none;
  /* transition: background-color 0.2s ease-in-out; */
  border-radius: 12px;
  padding: 12px 99px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap; /* запобігає переносу тексту */
  margin-top: auto;
}

.buttonLink:hover {
  background-color:  var(--dark-blue);
}