.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input {
  border: 1px solid var(--inputs);
  padding: 0.5rem;
  border-radius: 6px;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--button);
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}
