.header {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.header :global(.container) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 26px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #2563eb;
}

.nav {
  display: flex;
  gap: 24px;
}

.link {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease;
}

/* .link:hover {
  color: #2563eb;
} */

.active {
  color: #2563eb; /* той самий синій, що у логотипі */
}